
<mat-card class="mainCard">
    <mat-card-title>
        MAKE YOUR LIFE EASIER
    </mat-card-title>
</mat-card>
<mat-tab-group class="mainTabGroup">
    <mat-tab label="Line Jumper" >
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Your Input</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." id="inputUserText" name="inputUserText" #inputUserText></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Trigger</mat-label>
                <input matInput placeholder="Ex. Pizza" value="" id="inputTrigger" name="trigger" #trigger>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Index Position</mat-label>
                <input matInput placeholder="Ex. Pizza" value="" id="inputTrigger" name="position" #position>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Output</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." id="outputUserText" name="outputText" ></textarea>
            </mat-form-field>
            <mat-radio-group>
                <mat-radio-button class="radioButton" value="1" name="trg" #trg checked=item.check>Trigger</mat-radio-button>
                <mat-radio-button class="radioButton" value="2" name="pos" #pos checked=item.check>Index</mat-radio-button>
            </mat-radio-group> 
          </form>   
          <button mat-button (click)="jumpLines(inputUserText.value, trigger.value, position.value, trg.checked)">Confirm</button>       
    </mat-tab>
    <mat-tab label="List Numbers">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>List</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..." id="outputList" name="outputList" #outputList></textarea>
                </mat-form-field>
                <mat-form-field class="inputNumberField" appearance="fill">
                    <mat-label>Minimum</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="" id="inputMinimum" name="minimum" #minimum>
                </mat-form-field>
                <mat-form-field class="inputNumberField" appearance="fill">
                    <mat-label>Maximum</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="" id="inputMaximum" name="maximum" #maximum>
                </mat-form-field>
                <mat-radio-group>
                    <mat-radio-button class="radioButton" value="1" name="dec" #dec checked=item.check>Decimal</mat-radio-button>
                    <mat-radio-button class="radioButton" value="2" name="hex" #hex checked=item.check>Hexadecimal</mat-radio-button>
                </mat-radio-group> 
                <mat-checkbox name="byte" #byte [disabled]=dec.checked>Byte little Endian?</mat-checkbox>

            </form>   

             

            <button mat-button (click)="listNumbers(maximum.value, minimum.value,dec.checked, byte.checked)">Confirm</button>
            
    </mat-tab>
    
    <mat-tab label="Encode to Translate">
        <form class="example-form">
            <div class="specialLayout">
            <mat-form-field class="box1" appearance="fill">
              <mat-label>Encoding</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..." id="inputUserText" name="encoding" #encoding></textarea>
            </mat-form-field>
            <div class="box2">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Your Input</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." id="inputUserText" name="inputUserTextTranslate" #inputUserTextTranslate></textarea>
              </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Output</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." id="decodedUserText" name="outputTextTranslated" #outputTextTranslated></textarea>
            </mat-form-field>
            </div>
            </div>
            <mat-radio-group>
                <mat-radio-button class="radioButton" value="1" name="normal" #normal checked=item.check>Normal Way</mat-radio-button>
                <mat-radio-button class="radioButton" value="2">Inverse Way</mat-radio-button>
            </mat-radio-group> 
            
          </form>   
          <button mat-button (click)="encodeToTranslate(encoding.value, inputUserTextTranslate.value, outputTextTranslated.value, normal.checked)">Confirm</button>  
    </mat-tab>
</mat-tab-group>

